mywatchlist.server-welt.com {
        handle_path /watchlist/* {
                root * /srv
                try_files {path} /index.html
                file_server
        }
        handle_path /user/* {
                root * /srv
                try_files {path} /index.html
                file_server
        }
        handle_path /movie/* {
                root * /srv
                try_files {path} /index.html
                file_server
        }
        handle_path /tv/* {
                root * /srv
                try_files {path} /index.html
                file_server
        }
        handle {
                root * /srv
                try_files {path} /index.html
                file_server
        }
}

mywatchlist-backend.server-welt.com {
        reverse_proxy 127.0.0.1:8080
}
